In [3]:
''' Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.'''
import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [4]:
'''Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.'''
import pandas as pd
data_list = [4, 8, 15, 16, 23, 42]
series = pd.Series(data_list)
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [1]:
'''Q3. Create a Pandas DataFrame that contains the following data:'''
import pandas as pd
data = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']}
df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
'''Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.'''

""" In Pandas, a DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a spreadsheet or SQL table, or a dictionary of Series objects. A DataFrame can be thought of as a container for Series objects where each column represents a different variable, and each row represents a different observation. On the other hand, a Series is a one-dimensional labeled array capable of holding 
any data type (e.g., integers, strings, floating-point numbers, Python objects, etc.). 
It is essentially a single column of data with an associated index."""


"""
1. **Dimensionality**:
   - DataFrame: 2-dimensional (rows and columns).
   - Series: 1-dimensional (single column).

2. **Data structure**:
   - DataFrame: A container for multiple Series objects, where each Series represents a column.
   - Series: A single column of data with an associated index.

3. **Usage**:
   - DataFrame: Typically used for storing and analyzing tabular data, where each column may represent a different feature or variable, and each row represents a different observation.
   - Series: Useful for representing a single variable or feature with associated labels.

Here's an example to illustrate the difference:"""

import pandas as pd

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print()

# Creating a Series
ages = pd.Series([25, 30, 35], name='Age')
print("Series:")
print(ages)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

Series:
0    25
1    30
2    35
Name: Age, dtype: int64

In [12]:
"""Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?"""

"""
Pandas provides a wide range of functions for manipulating data in a DataFrame. Some common functions include:

1. **`head()` and `tail()`:** These functions allow you to view the first or last n rows of the DataFrame, respectively. They are useful for quickly inspecting the structure and contents of a DataFrame.

2. **`info()`:** Provides a concise summary of the DataFrame, including the data types of each column and the number of non-null values.

3. **`describe()`:** Generates descriptive statistics for numerical columns in the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartile values.

4. **`shape`:** Returns a tuple representing the dimensions of the DataFrame (number of rows, number of columns).

5. **`loc[]` and `iloc[]`:** These indexing methods allow you to access rows and columns by label (`loc[]`) or integer index (`iloc[]`). They are useful for selecting specific rows or columns based on their labels or positions.

6. **`drop()`:** Allows you to remove rows or columns from the DataFrame based on their labels or positions.

7. **`fillna()`:** Fills missing (NaN) values in the DataFrame with specified values or methods.

8. **`groupby()`:** Allows you to group data in the DataFrame based on one or more columns, and perform operations (e.g., aggregation, transformation) on the grouped data.

9. **`merge()` and `join()`:** Functions for combining multiple DataFrames based on common columns or indices.

10. **`sort_values()`:** Sorts the DataFrame by the values in one or more columns.

11. **`pivot_table()`:** Creates a pivot table from the DataFrame, allowing you to summarize and aggregate data based on one or more columns.

12. **`apply()`:** Applies a function along either axis of the DataFrame.

Here's an example of when you might use the `groupby()` function:
"""
import pandas as pd

# Sample sales data
data = {'Product': ['A', 'B', 'C', 'A', 'B', 'C'],
        'Category': ['X', 'Y', 'X', 'Y', 'X', 'Y'],
        'Revenue': [100, 200, 150, 120, 180, 130]}

# Create DataFrame
df = pd.DataFrame(data)

# Group by 'Category' and calculate total revenue
category_revenue = df.groupby('Category')['Revenue'].sum()

print("Total revenue by category:")
print(category_revenue)

Total revenue by category:
Category
X    430
Y    450
Name: Revenue, dtype: int64

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Among Series, DataFrame, and Panel, DataFrame is mutable in nature.

- **Series:** A Series is immutable in nature. Once created, you cannot modify the elements of a Series directly. However, you can create a new Series with modified values.

- **DataFrame:** A DataFrame is mutable. You can modify the contents of a DataFrame, including adding or removing columns, updating values, or reordering rows.

- **Panel:** Panels were deprecated in Pandas version 0.25.0, and they are no longer recommended for general use. However, similar to DataFrames, Panels were also mutable in nature. They could be modified by adding or removing items along one or more axes.

Since Panels are no longer recommended for general use and DataFrame is mutable, the correct answer to your question would be **DataFrame**.

In [14]:
'''Q7. Create a DataFrame using multiple Series. Explain with an example.'''
import pandas as pd

# Creating multiple Series
series1 = pd.Series([10, 20, 30])
series2 = pd.Series(['X', 'Y', 'Z'])

# Creating a DataFrame using the Series
df = pd.DataFrame({'Column1': series1, 'Column2': series2})

# Print the DataFrame
print(df)

   Column1 Column2
0       10       X
1       20       Y
2       30       Z